.combined-search-form-range-input-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .combined-search-form-range-input-separator {
        margin: 0 8px;
        line-height: 32px;
    }
    .combined-search-form-range-input-input {
        flex: 1;
    }
}
