@font-face {
  font-family: "transport"; /* Project id 2526277 */
  src: url('iconfont.woff2?t=1635836892831') format('woff2'),
       url('iconfont.woff?t=1635836892831') format('woff'),
       url('iconfont.ttf?t=1635836892831') format('truetype');
}

.transport {
  font-family: "transport" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transport-agent:before {
  content: "\e95d";
}

.transport-youjiansvg:before {
  content: "\e924";
}

.transport-Shelf:before {
  content: "\e923";
}

.transport-Speed:before {
  content: "\e920";
}

.transport-Stop:before {
  content: "\e921";
}

.transport-Unload:before {
  content: "\e922";
}

.transport-Money:before {
  content: "\e91e";
}

.transport-Customs-2:before {
  content: "\e91f";
}

.transport-Date:before {
  content: "\e91d";
}

.transport-not-customs-supervision:before {
  content: "\e91a";
}

.transport-customs-supervision:before {
  content: "\e91b";
}

.transport-designated-airport:before {
  content: "\e918";
}

.transport-not-designated-airport:before {
  content: "\e919";
}

.transport-not-designated-port:before {
  content: "\e916";
}

.transport-designated-port:before {
  content: "\e917";
}

.transport-not-insured:before {
  content: "\e914";
}

.transport-insured:before {
  content: "\e915";
}

.transport-close-entrust-declaration:before {
  content: "\e912";
}

.transport-open-entrust-declaration:before {
  content: "\e913";
}

.transport-close-escort:before {
  content: "\e910";
}

.transport-open-escort:before {
  content: "\e911";
}

.transport-not-designated-station:before {
  content: "\e90e";
}

.transport-designated-station:before {
  content: "\e90f";
}

.transport-not-day-trip:before {
  content: "\e90c";
}

.transport-day-trip:before {
  content: "\e90d";
}

.transport-destination:before {
  content: "\e8ef";
}

.transport-urgent-order:before {
  content: "\e8f0";
}

.transport-volume:before {
  content: "\e8f1";
}

.transport-entrust-customs-declaration:before {
  content: "\e8f2";
}

.transport-header:before {
  content: "\e8f3";
}

.transport-size:before {
  content: "\e8f4";
}

.transport-weight:before {
  content: "\e8f5";
}

.transport-armed-escort:before {
  content: "\e8f6";
}

.transport-starting-point:before {
  content: "\e8f7";
}

.transport-ordinary-escort:before {
  content: "\e8f8";
}

.transport-map:before {
  content: "\e8ec";
}

.transport-international:before {
  content: "\e8ed";
}

.transport-domestic:before {
  content: "\e8ee";
}

.transport-supplier:before {
  content: "\e8e6";
}

.transport-shipper:before {
  content: "\e8e7";
}

.transport-enterprise:before {
  content: "\e8e8";
}

.transport-consignee:before {
  content: "\e8e9";
}

.transport-cient:before {
  content: "\e8ea";
}

.transport-customer:before {
  content: "\e8eb";
}

.transport-carbon-emission:before {
  content: "\e8e5";
}

.transport-express-package:before {
  content: "\e8e4";
}

.transport-transportation-shipping_1-01:before {
  content: "\e8e0";
}

.transport-transportation-land:before {
  content: "\e8e1";
}

.transport-transportation-air:before {
  content: "\e8e2";
}

.transport-transportation-rail:before {
  content: "\e8e3";
}

.transport-express-documents:before {
  content: "\e8df";
}

.transport-air-transport-side:before {
  content: "\e8da";
}

.transport-land-transportation-side:before {
  content: "\e8db";
}

.transport-ship-transportation-side:before {
  content: "\e8dc";
}

.transport-rail-transportation-side:before {
  content: "\e8dd";
}

.transport-car-transportation-side:before {
  content: "\e8de";
}

.transport-land-transportation-circular:before {
  content: "\e8d6";
}

.transport-ship-transportation-circular:before {
  content: "\e8d7";
}

.transport-air-transport-circular:before {
  content: "\e8d8";
}

.transport-rail-transport-circular:before {
  content: "\e8d9";
}

.transport-air-transport-front:before {
  content: "\e8d2";
}

.transport-ship-transport-front:before {
  content: "\e8d3";
}

.transport-rail-transport-front:before {
  content: "\e8d4";
}

.transport-land-transport-front:before {
  content: "\e8d5";
}

.transport-procurement-management:before {
  content: "\e8c9";
}

.transport-replenishment-order:before {
  content: "\e8ca";
}

.transport-goods-arrive:before {
  content: "\e8cb";
}

.transport-arrive-transfer:before {
  content: "\e8cc";
}

.transport-shipment-of-goods:before {
  content: "\e8cd";
}

.transport-wharf-starting-point:before {
  content: "\e8ce";
}

.transport-receiving-and-shipping-information:before {
  content: "\e8cf";
}

.transport-leaving-unloading:before {
  content: "\e8d0";
}

.transport-container-information:before {
  content: "\e8d1";
}

.transport-end-pointer:before {
  content: "\e8c7";
}

.transport-start-pointer:before {
  content: "\e8c8";
}

.transport-weighing:before {
  content: "\e8c5";
}

.transport-intermodal:before {
  content: "\e8c6";
}

.transport-arrival:before {
  content: "\e8b8";
}

.transport-arrive-departure:before {
  content: "\e8b9";
}

.transport-customs:before {
  content: "\e8ba";
}

.transport-empty-car:before {
  content: "\e8bb";
}

.transport-take-delivery:before {
  content: "\e8bc";
}

.transport-depart-destination:before {
  content: "\e8bd";
}

.transport-collect:before {
  content: "\e8be";
}

.transport-loading:before {
  content: "\e8bf";
}

.transport-shipped:before {
  content: "\e8c0";
}

.transport-arrived:before {
  content: "\e8c1";
}

.transport-review:before {
  content: "\e8b7";
}

.transport-outbound-order:before {
  content: "\e8b4";
}

.transport-inventory-list:before {
  content: "\e8b5";
}

.transport-warehousing-list:before {
  content: "\e8b6";
}

.transport-computer:before {
  content: "\e8b2";
}

.transport-tick:before {
  content: "\e8b1";
}

.transport-container-list:before {
  content: "\e8af";
}

.transport-order:before {
  content: "\e8ae";
}

.transport-trailer:before {
  content: "\e89e";
}

.transport-magnetic:before {
  content: "\e89c";
}

.transport-electricity:before {
  content: "\e89d";
}

