.jusda-tabs-container {
    background-color: var(--jusda-page-background-color);

    .ant-tabs {
        height: 100%;

        .ant-tabs-nav {
            margin: 0;

            &::before {
                border-bottom-color: var(--jusda-primary-color);
                border-bottom-width: 2px;
            }

            .ant-tabs-tab {
                height: 35px;
                // margin-right: 5px !important;
                // border-bottom-color: var(--jusda-primary-color);
                margin-bottom: 5px;
                margin-right: 2px;
                color: var(--jusda-primary-button-text-color);
                background-color: var(--jusda-page-background-color);
                // &:hover {
                //     border: 1px dashed red;
                // }

                &>div {
                    min-width: 130px;
                    text-align: center;
                }
            }

            .ant-tabs-tab:hover {
                color: var(--jusda-background-white-text-secondary);
                background-color: var(--jusda-table-header-background-color);
                border-color: transparent;
            }

            .ant-tabs-tab-active {
                height: 40px;
                margin-bottom: 0;
                background-color: var(--jusda-page-background-color);
                border-color: var(--jusda-primary-color);
                border-width: 2px;
                border-bottom-color: transparent;

                .ant-tabs-tab-btn {
                    color: rgba(0, 0, 0, 0.65);
                }

                &:hover {
                    color: var(--jusda-background-white-text-secondary);
                    background-color: var(--jusda-page-background-color);
                    border-color: var(--jusda-primary-color);
                    border-width: 2px;
                    border-bottom-color: transparent;
                }
            }
        }
    }
}