.FilterForm {
    width: 420px;
    .formTitle{
        border-bottom: 1px solid #d9d9d9;
        padding: 0 16px;
        line-height: 31px;
        margin-bottom: 8px;
    }
    :global {
        .fr-form{
            padding: 0 16px;
        }
        .fr-form .ant-form-item-control {
            width: unset;
        }
    }
}
